<!-- <h2>Hello {{title}} welcome....</h2> -->

<!-- <div>
    <input type="text" placeholder="username" class="inut-sm" #input >
</div>
<div>
<button class="btn btn-primary btn-lg" (click)="getValue(input)" >Add</button>
</div>
<div>
    <button class="btn btn-danger" (click)="removeValue()">remove</button>
</div>
<div *ngFor="let user of users">
    <div>{{user.name}}</div>
</div> -->
<div class="nav nav-tabs">
    <div class="nav nav-item"><a style="cursor: pointer;" class="nav-link" routerLinkActive="acive" routerLink="/home">home</a></div>
    <div class="nav nav-item"><a style="cursor: pointer;" class="nav-link" routerLinkActive="acive" routerLink="/about">about</a></div>
    <div class="nav nav-item"><a style="cursor: pointer;" class="nav-link"  routerLinkActive="acive" routerLink="/contact">contact</a></div>
  </div>
  <router-outlet></router-outlet>
  
  
  